# Виртуальное окружение
venv/
env/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Дистрибутивы
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Файлы логов
*.log

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 